<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>
        <tab heading="Basic Information">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <strong>Basic Information</strong>
              </div>
              <div class="card-body">
                <div class="row">

                    <ma-text-input [label]="'School Name'"
                                   [placeholder]="'Enter School Name'"
                                   [required]="true"
                                   class="col-6"
                                   [min]="5"
                                   [max]="10"
                                   [name]="'schoolName'"
                                   [(ngModel)]="schoolName"></ma-text-input>

                    <ma-text-input [label]="'School Moto'"
                                   [placeholder]="'Enter School Moto'"
                                   [required]="true"
                                   [name]="'schoolMoto'"
                                   [(ngModel)]="schoolMoto"></ma-text-input>

                    <ma-text-input [label]="'Software Starting Date'"
                                   [placeholder]="'Enter Software Starting Date'"
                                   [required]="true"
                                   [name]="'softwareStartingDate'"
                                   [(ngModel)]="softwareStartingDate"></ma-text-input>

                    <ma-text-input [label]="'Affiliated By'"
                                   [placeholder]="'Enter Affiliated By'"
                                   [required]="true"
                                   [name]="'affiliatedBy'"
                                   [(ngModel)]="affiliatedBy"></ma-text-input>

                    <ma-text-input [label]="'Registration No'"
                                   [placeholder]="'Enter Registration No'"
                                   [required]="true"
                                   [name]="'registrationNo'"
                                   [(ngModel)]="registrationNo"></ma-text-input>

                    <ma-text-input [label]="'Affiliation No'"
                                   [placeholder]="'Enter Affiliation No'"
                                   [required]="true"
                                   [name]="'affiliationNo'"
                                   [(ngModel)]="affiliationNo"></ma-text-input>

                    <ma-text-input [label]="'Date of Establishment'"
                                   [placeholder]="'Enter Date of Establishment'"
                                   [required]="true"
                                   [name]="'dateOfEstablishment'"
                                   [(ngModel)]="dateOfEstablishment"></ma-text-input>

                    <ma-text-input [label]="'Board'"
                                   [placeholder]="'Board'"
                                   [required]="true"
                                   [name]="'board'"
                                   [(ngModel)]="board"></ma-text-input>

                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Logo and Social">
          <h2>Logo and Social</h2>
        </tab>
        <tab heading="Contact Information">
          <h1>Contact Information</h1>
        </tab>
        <tab heading="Global Setting">
          <h1>Global Setting</h1>
        </tab>
      </tabset>
    </div>
  </div><!--/.row-->
</div>
